
<div class="row">

  <div class="col-md-2">
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
    <div class="round btn-parte-moto"> <p> E </p> </div>
  </div>

  <div class="col-md-8">
    <h2> App de customización </h2>
    <%= image_tag("custom_app/mt0.png", alt: "test moto img" )%>
  </div>

  <div class="col-md-2">
  </div>

 </div>
