<% provide(:title, "About") %>
<h1 class="titulo-mono">Taller Piñon</h1>
<hr>

   <div class="container" id="team" name="team">
      <div class="row center text-vertical-about-titulo">
        <div class="col-lg-4 center">
          <img class="img img-circle" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,f_auto,g_faces:center,h_280,q_80,w_280/sw3iio15q1a4rf6mzowl.jpg" height="120px" width="120px" alt="">
          <br>
          <h4 class="text-lake-20px">Felipe Cruz</h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <h5> INGENIERO CIVIL MECÁNICO. MECÁNICO Y DISEÑADOR DE MOTOS </h5>
          <p class="text-vertical-about"> Ingeniero Civil Mecánico PUC y emprendedor. Amo el diseño en general y en especial el diseño industrial, mecánico y automotriz. Ganador de una membrecia en incubadora exhosphere en el  Demoday PUC 1er semestre 2013 con el proyecto MotorSmart. He participado en tres emprendimientos finalizados. </p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-4 center">
          <img class="img img-circle" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,g_faces:center,h_280,w_280/q2jvwt3gwwrautrm16fh.jpg" height="120px" width="120px" alt="">
          <br>
          <h4 class="text-lake-20px">Alberto González</h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <h5> DISEÑADOR Y ARTISTA, MASTER EN DISEÑO DE VEHÍCULOS </h5>
          <p class="text-vertical-about">  Diseñador y Licenciado en Artes, Mención Pintura, Universidad Católica de Chile; Máster en Diseño de Vehículos de Transportes de la Universitat Pompeu Fabra e impartido por Elisava Escola Superior de Disseny, Barcelona, España.
Profesor de Design Sketching y TIDE. Miembro Consejo de Escuela de Diseño PUC.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-4 center">
          <img class="img img-circle" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,g_faces:center,h_280,w_280/dm07quldj5i9y12emglu.jpg" height="120px" width="120px" alt="">
          <br>
          <h4 class="text-lake-20px">Sebastián López</h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <h5> INGENIERO CIVIL INDUSTRIAL UTFSM, EXPERTO EN NEGOCIOS Y ASIDUO CORREDOR </h5>
          <p class="text-vertical-about"> 8 años en Control de Gestión, Gestión de Riesgos del Negocio y Planificación Estratégica. Actualmente es Ingeniero Desarrollo de Negocio responsable del Capital Location en Minera Collahuasi. Socio Director y Gestor de Restudio SPA, seleccionada dentro de las 50 empresas innovadores 2012 por CChC.  </p>
        </div><!-- col-lg-3 -->
        
      </div><!-- row -->
    </div><!-- container -->
