
<!-- APLICACIÓN CUSTOMIZACIÓN -->
<div class="container">
    <div class="app-custom-bg center jumbotron" style='background-color: #ddd'>
      <%= render 'static_pages/customapp' %>
    </div>
</div>

<div class="container" id="galeria-motos" >
    <div class="jumbotron">
      <h2> Motos Piñon  </h2>
         <%= render 'static_pages/galeria_pinon' %>
      <p class='center'> <%= link_to 'ver más', index_pinon_path  %> </p>
    </div>
</div>
