<% provide(:title, "Home") %>

<!-- 
<div class="header-unit">
  <div id="video-container">
    <video autoplay loop muted class="fillWidth">
      <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"/>
      <source src="http://vjs.zencdn.net/v/oceans.ogg" type="video/ogg"/>
      <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"/>
      Your browser does not support the video tag. I suggest you upgrade your browser.
    </video> -->
 <!-- </div> end video-container -->
<!-- </div> end .header-unit -->


<div class="center jumbotron">
  <h1> PIÑON </h1>
  <h2> Sitio en desarrollo para Taller Piñon  </h2>
  <%= link_to "Registrate!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="row">
  <div class="col-md-1 col-md-offset-6">
    <%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>
  </div>
</div>
