<% provide(:title, "Home") %>

<!-- 
<div class="header-unit">
  <div id="video-container">
    <video autoplay loop muted class="fillWidth">
      <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"/>
      <source src="http://vjs.zencdn.net/v/oceans.ogg" type="video/ogg"/>
      <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"/>
      Your browser does not support the video tag. I suggest you upgrade your browser.
    </video> -->
 <!-- </div> end video-container -->
<!-- </div> end .header-unit -->
<%= render 'shared/formMicropost' %>
