<!--
<h1> <%= @userPinon.motos.count %> Motos </h1>
<h2 class="center"> Cotiza tu piñon  </h2>
  -->

<!-- Metodo temporan antes de implementar un modelo MotoPiñon -->
<% @motosPinon.each do |m| %>
<% @moto = m %>
<% @modelo = m.modelo %>
<% @precio = m.precio %>
<ul class='motos-preview' >
    <%= render 'motopinon' %>
</ul>
<% end %>
