<h1>Nuevo password</h1>

<p>Para renovar tu password haz click en el siguiente link</p>

<%= link_to "Nuevo password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este link funcionará solo por dos horas.</p>

<p>
Si no fuiste tu quien pidio re definir el password, por favor ignora este correo y tu password continuara tal cual es.
</p>
