<footer class="footer">
  <small>
    Taller Piñon 2015
    by <a href="http://www.javiercruz.cl/">Javier Cruz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contacto", contact_path  %></li>
    </ul>
  </nav>
</footer>
