<h1> Motos (<%= @userPinon.motos.count %>) </h1>
<h2 class="center"> Lista con todas las motos de todos los usuarios </h2>

<%= will_paginate @motosPinon%>
<ul class='motos-preview' >
    <%= render @motosPinon %>
</ul>

<%= will_paginate @motosPinon%>

